<!DOCTYPE html>
<html>
	<head>
		<title>Natália da Silva</title>
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>

		<script>

			window.addEventListener("load", function(event){
				var app = new Vue({
					el: '#app',
					data: {
						name: "Natália da Silva",
						education: [
							{image: "univem.jpg", time: "Cursando", course: "Bacharel em Sistemas de Informação", local: "UNIVEM"},
							{image: "etec.jpg", time: "2014 à 2015", course: "Técnico em Informática", local: "ETEC Antônio Devisate"}
						],

						jobs: [
							{image: "codesis.png", time: "Fev/2017 até Atualmente", company: "Codesis Sistemas", function: "Desenvolvedora Web"},
							{image: "guri.jpg", time: "Jun/2016 à Mar/2017", company: "AAPG - Projeto Guri", function: "Aprendiz"},
							{image: "acessa_escola2.jpg", time: "Mai/2014 à Dez/2015", company: "Fundap/Acessa Escola", function: "Estagiária"}
						],

						skills: [
							{skill: "Aplicativos Híbridos"},
							{skill: "Websites em Wordpress"},
							{skill: "Sistemas de Cadastro"},
							{skill: "Integrações com Amazon Web Services"},
							{skill: "Implementação de Layouts"},
							{skill: "Configuração de Plugins Wordpress"},
							{skill: "Manutenção em sistemas web"},
							{skill: "Sites Responsivos"},
							{skill: "Integração com gateways de pagamento"},
							{skill: "Notificações push"},
							{skill: "Sistemas com geolocalização"},
							{skill: "Aplicações em real-time"}
						],

						technologies: [
							{name: "PHP", affinity: 100},
							{name: "Javascript", affinity: 80},
							{name: "HTML", affinity: 100},
							{name: "CSS", affinity: 90},
							{name: "MySQL", affinity: 65}
						],

						frameworks: [
							{image: "zend2.png", name: "Zend2"},
							{image: "vue.png", name: "Vue.js"},
							{image: "angular.png", name: "Angular"},
							{image: "bootstrap.png", name: "Bootstrap"},
							{image: "ionic.png", name: "Ionic"},
							{image: "cordova.png", name: "Cordova"},
							{image: "wordpress.png", name: "Wordpress"},
							{image: "jquery.png", name: "JQuery"}
						]
					}
				});
			});
			

		</script>
	</head>

	<body>

		<div class="container" id="app">
			
			<div class="row header">
				<div class="col-md-8">
					<h1 class="nome text-danger">{{name}}</h1>
					<h2 class="area"><strong>Desenvolvedora Web</strong> | <i>Front-End & Back-End</i></h2>
					<p class="descricao">Olá! Meu nome é Natália, tenho 21 anos e estou no 2º ano do curso de Sistemas de Informação. Sou apaixonada por tecnologia e estou sempre buscando me atualizar nas últimas tendências de desenvolvimento.</p>
				</div>

				<div class="col-md-4">
					<div class="container-minha-foto rounded-circle"><img src="eu.jpg" class="rounded-circle minha-foto"></div>
				</div>
			</div>

			<div class="row linha1">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-6">

							<h3>Formação</h3>

							<ul class="list-group lista">
								<li class="list-group-item" v-for="e in education">
									<img :src="e.image" class="rounded-circle image-lista">
									<i>{{e.time}}</i>
									<br>
									<strong>{{e.course}}</strong>
									<br>{{e.local}}
								</li>
							</ul>
						</div>

						<div class="col-md-6">

							<h3>Profissional</h3>

							<ul class="list-group lista">
								<a href="#" data-toggle="modal" data-target="#modal-job" v-for="j in jobs"><li class="list-group-item">
									<img :src="j.image" class="rounded-circle image-lista">
									<i>{{j.time}}</i>
									<br>
									<strong>{{j.company}}</strong>
									<br>
									{{j.function}}
									<br>
									<div class="modal fade" id="modal-job">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<div class="modal-title">Atividades</div>
													
													<button type="button" class="close" data-dismiss="modal">&times;</button>
												</div>
											</div>
										</div>
									</div>
								</li></a>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<p class="info"><span class="idade">21</span> anos | <strong class="nacionalidade">Brasileira</strong></p>
					<p class="info">Marília - SP</p>

					<div class="card bg-danger text-white contato">
						<div class="card-body">
							<p><strong>Contato</strong></p>
							<p><i class="fas fa-phone"></i> (14) 99168-8662</p>
							<p><i class="fas fa-envelope"></i> nataliasilva@univem.edu.br</p>
						</div>
					</div>

				</div>
			</div>

			<div class="row linha2">
				<div class="col-md-8">
					<h3>O que eu faço</h3>

					<div class="habilidades">
						<span class="badge badge badge-danger" v-for="skill in skills">{{skill.skill}}</span>
					</div>
				</div>

				<div class="col-md-4">
					<h3>Tecnologias</h3>

					<div class="tec" v-for="tech in technologies">
						<span>{{tech.name}}</span>
						<div class="progress" style="height:20px;">
							<div class="progress-bar bg-danger" :style="'width: ' + tech.affinity + '%;'"></div>
						</div>
					</div>

				</div>
			</div>


			<div class="row linha3">
				<div class="col-md-8">
					<h3>Frameworks</h3>
					<div class="row">
						<div class="col-md-3 col-3 framework-item">
							<img src="zend.png" style="width: 50px;">
							<span style="display: block;">Zend2</span>
						</div>
						<div class="col-md-3 col-3 framework-item">
							<img src="vue.png" style="width: 50px;">
							<span style="display: block;">Vue.js</span>
						</div>
						<div class="col-md-3 col-3 framework-item">
							<img src="angular.png" style="width: 50px;">
							<span style="display: block;">Angular</span>
						</div>
						<div class="col-md-3 col-3 framework-item">
							<img src="bootstrap.png" style="width: 50px; margin-top: 8px;">
							<span style="display: block;">Bootstrap</span>
						</div>
						<div class="col-md-3 col-3 framework-item">
							<img src="ionic.png" style="width: 50px;">
							<span style="display: block;">Ionic</span>
						</div>
						<div class="col-md-3 col-3 framework-item">
							<img src="cordova.png" style="width: 50px;">
							<span style="display: block;">Cordova</span>
						</div>
						<div class="col-md-3 col-3 framework-item">
							<img src="wordpress.png" style="width: 50px;">
							<span style="display: block;">Wordpress</span>
						</div>
						<div class="col-md-3 col-3 framework-item">
							<img src="jquery.png" style="width: 50px;">
							<span style="display: block;">JQuery</span>
						</div>
					</div>

					<!-- <div class="row">
						<div class="card bg-danger text-white">
							<div class="card-body">
								<p>Me interesso por todo tipo de tecnologia, não tenho problemas em aprender novas frameworks e estou tentando
								me manter sempre atualizada em relação as últimas tendências
								de desenvolviemento.</p>
							</div>
						</div>
					</div> -->
				</div>


				<div class="col-md-4">
					<h3>Prêmios</h3>

					<div class="card card-extra">
						<div class="card-body">
							<i class="fas fa-medal"></i>
							<strong>3º Lugar</strong>
							<br>
							<span style="color: #dc3545; ">Maratona de Programação SBC</span>
							<br>
							<i>Sede Marília-sp | Fase Regional</i>
							<br>
							<strong>2018</strong>
						</div>
					</div>

					<div class="card card-extra">
						<div class="card-body">
							<i class="fas fa-medal"></i>
							<strong>4º Lugar</strong>
							<br>
							<span style="color: #dc3545; ">2ª Olimpíada de Informática</span>
							<br>
							<i>UNIVEM | Categoria Ensino Técnico</i>
							<br>
							<strong>2014</strong>
						</div>
					</div>

				</div>
		
			</div>


			<div class="row footer">
				<div class="col-md-4">
					<h3>Sobre o site</h3>
					<p>Este é um site de apresentação pessoal, 
					desenvolvido por mim, utilizando as as tecnologias 
					Bootstrap e Vue.Js</p>
				</div>	

				<div class="col-md-4">
					<h3>Contato</h3>
					<p><i class="fas fa-phone"></i> (14) 99168-8662</p>
					<p><i class="fas fa-envelope"></i> nataliasilva@univem.edu.br</p>
				</div>

				<div class="col-md-4">
					<h3>Redes Sociais: </h3>
				</div>
			</div>

			<div class="row footer-final bg-danger text-white">
				<p style="text-align: center; width: 100%; margin-top: 20px;">Criado por: Natália da Silva</p>
			</div>

		</div>


	</body>
</html>