<!DOCTYPE html>
<html>
	<head>
		<title>Natália da Silva | Desenvolvedora Web</title>
		<meta name="description" content="Meu nome é Natália da Silva, eu sou desenvolvedora web e este é meu site de apresentação pessoal.">
		<meta name="keywords" content="sites, aplicativos, html, css, javascript, wordpress, tecnologia, web">
		<meta name="author" content="Natalia da Silva">
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="style-new.css">
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>

		<script>

			window.addEventListener("load", function(event){
				var app = new Vue({
					el: '#app',
					data: {
						name: "Natalia Silva",
						education: [
							{image: "univem.png", alt:"Univem logo", time: "Cursando", course: "Bacharel em Sistemas de Informação", local: "UNIVEM"},
							{image: "etec.png", alt:"ETEC logo", time: "2014 à 2015", course: "Técnico em Informática", local: "ETEC Antônio Devisate"}
						],

						jobs: [
							{image: "m2corp.png", alt:"M2Corp logo", time: "Abr/2019 até Atualmente", company: "M2Corp Software", function: "Programadora"},
							{image: "codesis.png", alt:"Codesis logo", time: "Fev/2017 até Mar/2019", company: "Codesis Sistemas", function: "Programadora"},
							{image: "guri.png", alt:"Projeto Guri logo", time: "Jun/2016 à Mar/2017", company: "AAPG - Projeto Guri", function: "Aprendiz"},
							{image: "acessa_escola2.png", alt:"Acessa Escola logo", time: "Mai/2014 à Dez/2015", company: "Fundap/Acessa Escola", function: "Estagiária"}
						],

						technologies: [
							{name: "PHP", affinity: 100},
							{name: "Javascript", affinity: 80},
							{name: "HTML", affinity: 100},
							{name: "CSS", affinity: 90},
							{name: "MySQL", affinity: 65}
						],

						frameworks: [
							{name: "Zend2", image: "img/frameworks/zend.png"},
							{name: "Vue.js", image: "img/frameworks/vue.png"},
							{name: "React.js", image: "img/frameworks/reactjs.png"},
							{name: "Bootstrap", image: "img/frameworks/bootstrap.png"},
							{name: "Ionic", image: "img/frameworks/ionic.png"},
							{name: "Wordpress", image: "img/frameworks/wordpress.png"},
							{name: "JQuery", image: "img/frameworks/jquery.png"}
						],
						newColor: "#ED6262",
						newColorDark: "#883030"
					},
					created: function() {
						
					},
					methods: {
						changeColor: function(e) {
							this.newColor = e.target.value;
							console.log(this.newColor)
						}
					}
				});
			});
			

		</script>
	</head>

	<body>
			
		<div class="container" id="app">

			<div class="top-bar">
				<span>Cor do tema: <strong>{{newColor}}</strong></span>
				<input type="color" v-on:input="changeColor" :value="newColor">	
			</div>

			<div class="row header">
				<div class="col-md-7">
					<div class="presentation">
						<h1 :style="'color: ' + newColor">{{name}}</h1>
						<h2>Desenvolvedora Web Full-Stack, <br/> apaixonada por UI/UX</h2>
						<p>Constantemente me atualizando sobre as últimas tendências, estou atualmente procurando me especializar em desenvolvimento de interface e experiência de usuário.</p>

						<div class="menu-principal" :style="'background-color:' + newColor">

						</div>
					</div>

					<div class="col-md-12 content-job">
						<h3 :style="'border-color:' + newColor">Profissional</h3>

						<div class="out-div" v-for="j in jobs">
							<div class="in-div">
								<img :src="j.image">
								<div class="text">
									<span class="date">{{j.time}}</span>
									<strong class="company">{{j.company}}</strong>
									<span class="role">{{j.function}}</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 content-edu">
						<h3 :style="'border-color:' + newColor">Formação</h3>

						<div class="out-div" v-for="e in education">
							<div class="in-div">
								<img :src="e.image">
								<div class="text">
									<span class="date">{{e.time}}</span>
									<strong class="company">{{e.course}}</strong>
									<span class="role">{{e.local}}</span>
								</div>
							</div>
						</div>
					</div>


					<div class="col-md-12 content-frameworks">
						<h3 :style="'border-color:' + newColor">Frameworks</h3>

						<div class="all-frameworks">
							<div class="container-framework-item" v-for="f in frameworks">
								<div class="framework-item">
									<img :src="f.image" :alt="f.name">
								</div>
								<span>{{f.name}}</span>
							</div>
						</div>
						
					</div>

				</div>

				<div class="col-md-5">
					<div class="sidebar">
						<svg width="453" height="144" viewBox="0 0 453 144" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 10C0 4.47716 4.47715 0 10 0H443C448.523 0 453 4.47715 453 10V122C233 205 217.5 16.5 0 122V10Z" :fill="newColor"/>
						</svg>


						<div class="container-photo">
							<div class="row">
								<div class="col-md-12">
									<div class="photo">
										<img src="eu.jpg">
									</div>
								</div>	
							</div>
						</div>

						<div class="row social-area">
								<a 
								class="button-social-media"
								:style="'background-color: ' + newColor"
								href="https://linkedin.com/in/natalia-silva-dev/"
								target="_blank">
									<img src='github-icon.svg'>
								</a>

								<a 
								class="button-social-media"
								:style="'background-color: ' + newColor" 
								href="https://github.com/rootdevna" 
								target="_blank">
									<img src='linkedin-icon.svg'>
								</a>
						</div>


						<div class="row contato" :style="'background-color:' + newColor">
							
							<div class="item-contato" :style="'background-color:' + newColor">
								<img src="phone-icon.svg">
								(14) 99168-8662</div>

							<div class="item-contato" :style="'background-color:' + newColor">
								<img src="mail-icon.svg">
								nataliadasilva.dev@gmail.com</div>

						</div>

						<div class="row tec" style="display: flex; flex-direction: column; width: 80%; margin: 0 10%;">
							
							<h3 :style="'border-color:' + newColor">Tecnologias</h3>

							<div class="tec" v-for="tech in technologies">
								<span>{{tech.name}}</span>
								<div class="progress">
									<div class="progress-bar" :style="'width: ' + tech.affinity + '%; background-color: ' + newColor"></div>
								</div>
							</div>

						</div>


						<div class="row all-premios">

							<h3>Prêmios</h3>

							<div class="premios">
								<img src="premium.svg">
								<div class="text">
									<strong>3º Lugar 2018</strong>
									<span class="color-text" :style="'color:' + newColor">Maratona de Programação SBC</span>
									<span>Sede Marília-SP | Fase Regional</span>
								</div>
							</div>

							<div class="premios">
								<img src="premium.svg">
								<div class="text">
									<strong>4º Lugar 2014</strong>
									<span class="color-text" :style="'color:' + newColor">2ª Olímpiada de Informática</span>
									<span>UNIVEM | Categoria Ensino Técnico</span>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="row footer">
				<div class="col-md-12 content-footer" :style="'background-color: ' + newColor">
					Desenvolvido por: Natália Silva
				</div>
			</div>

		</div>


	</body>
</html>